/* src/app/globals.css */

@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Zen+Dots&display=swap");

/* Definição de variáveis CSS para cores */
:root {
	--background: #ffffff;
	--foreground: #171717;

	/* Definir variáveis CSS para as fontes */
	--font-montserrat: "Montserrat", sans-serif;
	--font-zen-dots: "Zen Dots", cursive;
}

/* Media query para tema escuro */
@media (prefers-color-scheme: dark) {
	:root {
		--background: #9137c6;
		--foreground: #dbdada;
	}
}

/* Aplicar a fonte Montserrat ao body por padrão */
body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-montserrat);
}

/* Custom scrollbar */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, 0.1);
	border-radius: 4px;
}

::-webkit-scrollbar-thumb {
	background: rgba(139, 92, 246, 0.5);
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(139, 92, 246, 0.7);
}
